In [1]:
import pandas as pd
import glob

In [4]:
pd.read_csv("../soto_analysis/raw_files/iWES_v2_variants.bed", nrows = 3, sep = "\t")

   1  69080  69081  G  C  0.000187
0  1  69129  69130  C  G  0.000009
1  1  69133  69134  A  G  0.000042
2  1  69134  69135  A  G  0.000005

In [29]:
sfari_genome_vars = []
for path in glob.glob("../output/sfari_json/*"):
    sfari_genome_vars.append(pd.read_csv(path))
sfari_genome_vars = pd.concat(sfari_genome_vars)
sfari_genome_vars

          variant_id          consequence         hgvs
0    14-64084849-G-A  3_prime_UTR_variant     c.*68C>T
1    14-64084855-G-A  3_prime_UTR_variant     c.*62C>T
2    14-64084881-C-T  3_prime_UTR_variant     c.*36G>A
3    14-64084924-C-T     missense_variant  p.Arg512Gln
4    14-64084959-A-G   synonymous_variant  p.Ser500Ser
..               ...                  ...          ...
574  16-67637916-T-A  3_prime_UTR_variant     c.*44T>A
575  16-67637917-A-G  3_prime_UTR_variant     c.*45A>G
576  16-67637920-C-T  3_prime_UTR_variant     c.*48C>T
577  16-67637925-C-T  3_prime_UTR_variant     c.*53C>T
578  16-67637944-C-T  3_prime_UTR_variant     c.*72C>T

[101851 rows x 3 columns]

In [30]:
sfari_genome_vars[0] = sfari_genome_vars["variant_id"].str.split("-").str[0]
sfari_genome_vars[2] = sfari_genome_vars["variant_id"].str.split("-").str[1]
sfari_genome_vars[1] = sfari_genome_vars[2].astype(int) - 1

sfari_genome_vars[3] = sfari_genome_vars["variant_id"].str.split("-").str[2]
sfari_genome_vars[4] = sfari_genome_vars["variant_id"].str.split("-").str[3]
sfari_genome_vars[5] = 0.5
sfari_genome_vars = sfari_genome_vars[[0, 1, 2, 3, 4, 5]]
sfari_genome_vars

      0         1         2  3  4    5
0    14  64084848  64084849  G  A  0.5
1    14  64084854  64084855  G  A  0.5
2    14  64084880  64084881  C  T  0.5
3    14  64084923  64084924  C  T  0.5
4    14  64084958  64084959  A  G  0.5
..   ..       ...       ... .. ..  ...
574  16  67637915  67637916  T  A  0.5
575  16  67637916  67637917  A  G  0.5
576  16  67637919  67637920  C  T  0.5
577  16  67637924  67637925  C  T  0.5
578  16  67637943  67637944  C  T  0.5

[101851 rows x 6 columns]

In [31]:
sfari_genome_vars.to_csv("../soto_analysis/raw_files/sfari_genome_vars.bed", sep = "\t", header = None, index = None)