In [5]:
%load_ext autoreload

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [6]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure

In [7]:
SFARI_variants = pd.read_csv('../raw_files/iWES_v2.gatk.pvcf_variants.tsv', sep = '\t')
SFARI_variants

         chrom       pos   ref          alt                   af
0         chr1     69081     G            C             0.000187
1         chr1     69130     C            G                9e-06
2         chr1     69134     A            G              4.2e-05
3         chr1     69135     A            G                5e-06
4         chr1     69149     T            A                9e-06
...        ...       ...   ...          ...                  ...
12443148  chrY  25044036  CTGG      CTGAG,C        1.9e-05,5e-06
12443149  chrY  25044040     T            A              1.9e-05
12443150  chrY  25044041    CT            C              1.9e-05
12443151  chrY  25044046     G            A              1.4e-05
12443152  chrY  25044050  ATGG  A,ATAG,AAGG  1.4e-05,5e-06,5e-06

[12443153 rows x 5 columns]

In [8]:
SFARI_variants["chrom"] = SFARI_variants["chrom"].str.replace("chr", "")
SFARI_variants

         chrom       pos   ref          alt                   af
0            1     69081     G            C             0.000187
1            1     69130     C            G                9e-06
2            1     69134     A            G              4.2e-05
3            1     69135     A            G                5e-06
4            1     69149     T            A                9e-06
...        ...       ...   ...          ...                  ...
12443148     Y  25044036  CTGG      CTGAG,C        1.9e-05,5e-06
12443149     Y  25044040     T            A              1.9e-05
12443150     Y  25044041    CT            C              1.9e-05
12443151     Y  25044046     G            A              1.4e-05
12443152     Y  25044050  ATGG  A,ATAG,AAGG  1.4e-05,5e-06,5e-06

[12443153 rows x 5 columns]

In [9]:
SFARI_variants.to_csv("../raw_files/variants_formatted.tsv", sep = "\t")

In [10]:
SFARI_variants["ref_len"] = SFARI_variants["ref"].str.len()
SFARI_variants["alt_len"] = SFARI_variants["alt"].str.len()

In [11]:
SFARI_variants

,chrom,pos,ref,alt,af,ref_len,alt_len
0,1,69081,G,C,0.000187,1,1
1,1,69130,C,G,9e-06,1,1
2,1,69134,A,G,4.2e-05,1,1
3,1,69135,A,G,5e-06,1,1
4,1,69149,T,A,9e-06,1,1
...,...,...,...,...,...,...,...
12443148,Y,25044036,CTGG,"CTGAG,C","1.9e-05,5e-06",4,7
12443149,Y,25044040,T,A,1.9e-05,1,1
12443150,Y,25044041,CT,C,1.9e-05,2,1
12443151,Y,25044046,G,A,1.4e-05,1,1
12443152,Y,25044050,ATGG,"A,ATAG,AAGG","1.4e-05,5e-06,5e-06",4,11

In [12]:
# single_nt_ref = SFARI_variants[SFARI_variants["ref_len"] == 1]
# single_nt_ref

In [13]:
# single_nt_ref_and_alt = single_nt_ref[single_nt_ref["alt_len"] == 1]
# single_nt_ref_and_alt

In [14]:
SFARI_variants["start"] = SFARI_variants["pos"] - 1

In [15]:
SFARI_variants = SFARI_variants[["chrom", "start", "pos", "ref", "alt", "af"]]
SFARI_variants

         chrom     start       pos   ref          alt                   af
0            1     69080     69081     G            C             0.000187
1            1     69129     69130     C            G                9e-06
2            1     69133     69134     A            G              4.2e-05
3            1     69134     69135     A            G                5e-06
4            1     69148     69149     T            A                9e-06
...        ...       ...       ...   ...          ...                  ...
12443148     Y  25044035  25044036  CTGG      CTGAG,C        1.9e-05,5e-06
12443149     Y  25044039  25044040     T            A              1.9e-05
12443150     Y  25044040  25044041    CT            C              1.9e-05
12443151     Y  25044045  25044046     G            A              1.4e-05
12443152     Y  25044049  25044050  ATGG  A,ATAG,AAGG  1.4e-05,5e-06,5e-06

[12443153 rows x 6 columns]

In [16]:
SFARI_variants.to_csv("../raw_files/iWES_v2_variants.bed", index=False, sep='\t', header=None)

In [18]:
SFARI_variants["alt"] = SFARI_variants["alt"].str.split(",")
SFARI_variants

<ipython-input-18-a7d9e5ce3258>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  SFARI_variants["alt"] = SFARI_variants["alt"].str.split(",")

         chrom     start       pos   ref              alt                   af
0            1     69080     69081     G              [C]             0.000187
1            1     69129     69130     C              [G]                9e-06
2            1     69133     69134     A              [G]              4.2e-05
3            1     69134     69135     A              [G]                5e-06
4            1     69148     69149     T              [A]                9e-06
...        ...       ...       ...   ...              ...                  ...
12443148     Y  25044035  25044036  CTGG       [CTGAG, C]        1.9e-05,5e-06
12443149     Y  25044039  25044040     T              [A]              1.9e-05
12443150     Y  25044040  25044041    CT              [C]              1.9e-05
12443151     Y  25044045  25044046     G              [A]              1.4e-05
12443152     Y  25044049  25044050  ATGG  [A, ATAG, AAGG]  1.4e-05,5e-06,5e-06

[12443153 rows x 6 columns]

In [19]:
SFARI_variants["af"] = SFARI_variants["af"].str.split(",")
SFARI_variants

<ipython-input-19-4b5c4ac0c818>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  SFARI_variants["af"] = SFARI_variants["af"].str.split(",")

,chrom,start,pos,ref,alt,af
0,1,69080,69081,G,[C],[0.000187]
1,1,69129,69130,C,[G],[9e-06]
2,1,69133,69134,A,[G],[4.2e-05]
3,1,69134,69135,A,[G],[5e-06]
4,1,69148,69149,T,[A],[9e-06]
...,...,...,...,...,...,...
12443148,Y,25044035,25044036,CTGG,"[CTGAG, C]","[1.9e-05, 5e-06]"
12443149,Y,25044039,25044040,T,[A],[1.9e-05]
12443150,Y,25044040,25044041,CT,[C],[1.9e-05]
12443151,Y,25044045,25044046,G,[A],[1.4e-05]
12443152,Y,25044049,25044050,ATGG,"[A, ATAG, AAGG]","[1.4e-05, 5e-06, 5e-06]"

In [21]:
expanded_SFARI_variants = SFARI_variants.explode(['alt', 'af']).reset_index(drop = True)
expanded_SFARI_variants

         chrom     start       pos   ref   alt        af
0            1     69080     69081     G     C  0.000187
1            1     69129     69130     C     G     9e-06
2            1     69133     69134     A     G   4.2e-05
3            1     69134     69135     A     G     5e-06
4            1     69148     69149     T     A     9e-06
...        ...       ...       ...   ...   ...       ...
14335426     Y  25044040  25044041    CT     C   1.9e-05
14335427     Y  25044045  25044046     G     A   1.4e-05
14335428     Y  25044049  25044050  ATGG     A   1.4e-05
14335429     Y  25044049  25044050  ATGG  ATAG     5e-06
14335430     Y  25044049  25044050  ATGG  AAGG     5e-06

[14335431 rows x 6 columns]

In [22]:
expanded_SFARI_variants.to_csv("../raw_files/expanded_iWES_v2_variants.bed", index=False, sep='\t', header=None)