# D

In [32]:
%load_ext autoreload

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [33]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure
import protfasta 
import re

from Bio import pairwise2
from Bio.Seq import Seq 

%autoreload 2
%aimport AD_predictor_tools
%aimport AD_comparison_tools
%aimport PlottingTools

In [34]:
lambert_TF_ENSTs = pd.read_csv("../output/TFs_with_ENST.csv", index_col = 0)

uniprotID_ENST_mapping_dict = dict(zip(lambert_TF_ENSTs["canonical_uniprot_id_isoform"],
                                       lambert_TF_ENSTs["ENST"]))

uniprotID_isoform_mapping_dict = dict(zip(lambert_TF_ENSTs["uniprotID"],
                                       lambert_TF_ENSTs["canonical_uniprot_id_isoform"]))
#uniprotID_ENST_mapping_dict
lambert_TF_ENSTs

       uniprotID               ENST canonical_uniprot_id_isoform
0     A0A087WUV0  ENST00000425953.6                   A0A087WUV0
1         A0AVK6  ENST00000250024.9                       A0AVK6
2         A1YPR0  ENST00000535628.6                       A1YPR0
3         A2RRD8  ENST00000391781.6                       A2RRD8
4         A2RU54  ENST00000339992.4                       A2RU54
...          ...                ...                          ...
2127      Q9Y692    ENST00000294409                     Q9Y692-1
2128      Q9Y6Q3    ENST00000374227                     Q9Y6Q3-1
2129      Q9Y6Q9    ENST00000371998                     Q9Y6Q9-1
2130      Q9Y6X0    ENST00000649279                     Q9Y6X0-1
2135      Q9Y6Y1    ENST00000303635                     Q9Y6Y1-1

[1590 rows x 3 columns]

In [35]:
# From: http://localhost:8888/notebooks/Desktop/Staller_Lab/SFARI/notebooks/Looking%20for%20non-canonical%20ADs.ipynb
AD_coords = pd.read_csv("../output/known_ADs_considering_isoforms_and_canonical.csv", index_col = None)
AD_coords = AD_coords[AD_coords["TileType"] == "TF"]
AD_coords["ENSG"] = np.nan
AD_coords = AD_coords[["uniprotID", "Start", "End", "ENSG"]]
AD_coords["uniprotID"] = AD_coords["uniprotID"].map(uniprotID_isoform_mapping_dict)
AD_coords

    uniprotID  Start   End  ENSG
1    Q8IUX7-1   1088  1158   NaN
2    Q8WYP5-1   1445  1698   NaN
3      P35869    118   126   NaN
4      P35869    266   268   NaN
5      P35869    532   848   NaN
..        ...    ...   ...   ...
739  P17040-1    262   341   NaN
740    P98168    572   699   NaN
741    P98169    576   703   NaN
742  Q2QGD7-1    579   688   NaN
743    P05412    238   257   NaN

[640 rows x 4 columns]

In [36]:
AD_coords["coord"] = AD_coords["Start"].astype(str)+"-"+AD_coords["End"].astype(str)
AD_coords

    uniprotID  Start   End  ENSG      coord
1    Q8IUX7-1   1088  1158   NaN  1088-1158
2    Q8WYP5-1   1445  1698   NaN  1445-1698
3      P35869    118   126   NaN    118-126
4      P35869    266   268   NaN    266-268
5      P35869    532   848   NaN    532-848
..        ...    ...   ...   ...        ...
739  P17040-1    262   341   NaN    262-341
740    P98168    572   699   NaN    572-699
741    P98169    576   703   NaN    576-703
742  Q2QGD7-1    579   688   NaN    579-688
743    P05412    238   257   NaN    238-257

[640 rows x 5 columns]

In [37]:
merged_AD_coords = AD_coords[["uniprotID", "coord"]].groupby("uniprotID").agg(lambda c: ",".join(c))
#merged_AD_coords = merged_AD_coords.drop(["O95718"])
merged_AD_coords = merged_AD_coords.reset_index()
merged_AD_coords

    uniprotID            coord
0      A6NJG6          142-315
1      A8MTJ6          369-420
2      A8MYZ6          382-491
3    A8MZ59-2           92-181
4    O00321-1            1-162
..        ...              ...
441  Q9Y5R6-1          172-251
442    Q9Y5W3             1-89
443  Q9Y692-1          422-573
444  Q9Y6Q9-1         621-1424
445  Q9Y6Y1-1  702-841,422-501

[446 rows x 2 columns]

In [38]:
TF_table = merged_AD_coords.rename(columns = {"coord" : "AD_coords"})
TF_table = pd.merge(TF_table, AD_coords[["uniprotID", "ENSG"]], on = "uniprotID", how = "left").drop_duplicates()
TF_table = TF_table.reset_index(drop = True)
TF_table

    uniprotID        AD_coords  ENSG
0      A6NJG6          142-315   NaN
1      A8MTJ6          369-420   NaN
2      A8MYZ6          382-491   NaN
3    A8MZ59-2           92-181   NaN
4    O00321-1            1-162   NaN
..        ...              ...   ...
441  Q9Y5R6-1          172-251   NaN
442    Q9Y5W3             1-89   NaN
443  Q9Y692-1          422-573   NaN
444  Q9Y6Q9-1         621-1424   NaN
445  Q9Y6Y1-1  702-841,422-501   NaN

[446 rows x 3 columns]

In [39]:
TF_table["ENST"] = TF_table["uniprotID"].map(uniprotID_ENST_mapping_dict)
TF_table["DBD_coords"] = "NA-NA"
TF_table["RD_coords"] = ""
TF_table["Bif_coords"] = ""
TF_table["1"] = ""
TF_table["2"] = ""
TF_table["length"] = "1"
TF_table

,uniprotID,AD_coords,ENSG,ENST,DBD_coords,RD_coords,Bif_coords,1,2,length
0,A6NJG6,142-315,NaN,ENST00000334384.5,NA-NA,,,,,1
1,A8MTJ6,369-420,NaN,ENST00000428390.3,NA-NA,,,,,1
2,A8MYZ6,382-491,NaN,ENST00000641094.2,NA-NA,,,,,1
3,A8MZ59-2,92-181,NaN,ENST00000640845,NA-NA,,,,,1
4,O00321-1,1-162,NaN,ENST00000403402,NA-NA,,,,,1
...,...,...,...,...,...,...,...,...,...,...
441,Q9Y5R6-1,172-251,NaN,ENST00000382276,NA-NA,,,,,1
442,Q9Y5W3,1-89,NaN,ENST00000248071.6,NA-NA,,,,,1
443,Q9Y692-1,422-573,NaN,ENST00000294409,NA-NA,,,,,1
444,Q9Y6Q9-1,621-1424,NaN,ENST00000371998,NA-NA,,,,,1
445,Q9Y6Y1-1,"702-841,422-501",NaN,ENST00000303635,NA-NA,,,,,1

In [40]:
TF_table_formatted = TF_table[["1","2", "uniprotID", "ENSG", "ENST", "DBD_coords", "AD_coords", "RD_coords", "Bif_coords", "length"]]
TF_table_formatted

,1,2,uniprotID,ENSG,ENST,DBD_coords,AD_coords,RD_coords,Bif_coords,length
0,,,A6NJG6,NaN,ENST00000334384.5,NA-NA,142-315,,,1
1,,,A8MTJ6,NaN,ENST00000428390.3,NA-NA,369-420,,,1
2,,,A8MYZ6,NaN,ENST00000641094.2,NA-NA,382-491,,,1
3,,,A8MZ59-2,NaN,ENST00000640845,NA-NA,92-181,,,1
4,,,O00321-1,NaN,ENST00000403402,NA-NA,1-162,,,1
...,...,...,...,...,...,...,...,...,...,...
441,,,Q9Y5R6-1,NaN,ENST00000382276,NA-NA,172-251,,,1
442,,,Q9Y5W3,NaN,ENST00000248071.6,NA-NA,1-89,,,1
443,,,Q9Y692-1,NaN,ENST00000294409,NA-NA,422-573,,,1
444,,,Q9Y6Q9-1,NaN,ENST00000371998,NA-NA,621-1424,,,1
445,,,Q9Y6Y1-1,NaN,ENST00000303635,NA-NA,"702-841,422-501",,,1

In [41]:
len(TF_table_formatted[TF_table_formatted["ENST"].isna()])

0

In [42]:
lambert_TF_DBDs = pd.read_csv("../output/lambert_TFs_10-21-24_with_DBD_coords.csv")
lambert_TF_DBDs["uniprotID"] = lambert_TF_DBDs["id"].str.split("|").str[1]
lambert_TF_DBDs["uniprotID"] = lambert_TF_DBDs["uniprotID"].map(uniprotID_isoform_mapping_dict)
lambert_TF_DBDs = lambert_TF_DBDs[["uniprotID", "DBD_coords_merged"]]
lambert_TF_DBDs

       uniprotID                                  DBD_coords_merged
0     A0A087WUV0  [[221, 243], [249, 271], [277, 299], [305, 327...
1         A0AVK6                           [[114, 182], [262, 347]]
2       A0PJY2-1  [[260, 282], [288, 310], [316, 338], [344, 366...
3       A1A519-1                                         [[1, 330]]
4         A1YPR0   [[364, 386], [392, 414], [420, 442], [448, 469]]
...          ...                                                ...
1608    Q9Y6Q9-1                                         [[31, 83]]
1609      Q9Y6R6  [[165, 187], [193, 215], [221, 243], [249, 271...
1610    Q9Y6X0-1           [[583, 596], [1015, 1027], [1450, 1462]]
1611      Q9Y6X8  [[78, 101], [110, 133], [271, 317], [442, 496]...
1612    Q9Y6Y1-1                                        [[69, 182]]

[1613 rows x 2 columns]

In [43]:
TF_table_formatted = pd.merge(TF_table_formatted, lambert_TF_DBDs, how = "left")
TF_table_formatted

,1,2,uniprotID,ENSG,ENST,DBD_coords,AD_coords,RD_coords,Bif_coords,length,DBD_coords_merged
0,,,A6NJG6,NaN,ENST00000334384.5,NA-NA,142-315,,,1,"[[79, 135]]"
1,,,A8MTJ6,NaN,ENST00000428390.3,NA-NA,369-420,,,1,"[[145, 234]]"
2,,,A8MYZ6,NaN,ENST00000641094.2,NA-NA,382-491,,,1,"[[89, 178]]"
3,,,A8MZ59-2,NaN,ENST00000640845,NA-NA,92-181,,,1,"[[31, 65]]"
4,,,O00321-1,NaN,ENST00000403402,NA-NA,1-162,,,1,"[[242, 321]]"
...,...,...,...,...,...,...,...,...,...,...,...
441,,,Q9Y5R6-1,NaN,ENST00000382276,NA-NA,172-251,,,1,"[[72, 118]]"
442,,,Q9Y5W3,NaN,ENST00000248071.6,NA-NA,1-89,,,1,"[[272, 296], [302, 326], [332, 354]]"
443,,,Q9Y692-1,NaN,ENST00000294409,NA-NA,422-573,,,1,"[[89, 165]]"
444,,,Q9Y6Q9-1,NaN,ENST00000371998,NA-NA,621-1424,,,1,"[[31, 83]]"
445,,,Q9Y6Y1-1,NaN,ENST00000303635,NA-NA,"702-841,422-501",,,1,"[[69, 182]]"

In [44]:
import ast

def convert_ranges_from_string(input_string):
    # Convert the string to a list of lists
    input_list = ast.literal_eval(input_string)
    
    # Convert the list of lists into the desired string format
    return ','.join([f"{start}-{end}" for start, end in input_list])

In [45]:
DBD_coords = []
for i in TF_table_formatted["DBD_coords_merged"]:
    # no DBD
    if type(i) != str:
        DBD_coords.append("NA-NA")
    else:
        DBD_coords.append(convert_ranges_from_string(i))

TF_table_formatted["DBD_coords"] = DBD_coords
TF_table_formatted

,1,2,uniprotID,ENSG,ENST,DBD_coords,AD_coords,RD_coords,Bif_coords,length,DBD_coords_merged
0,,,A6NJG6,NaN,ENST00000334384.5,79-135,142-315,,,1,"[[79, 135]]"
1,,,A8MTJ6,NaN,ENST00000428390.3,145-234,369-420,,,1,"[[145, 234]]"
2,,,A8MYZ6,NaN,ENST00000641094.2,89-178,382-491,,,1,"[[89, 178]]"
3,,,A8MZ59-2,NaN,ENST00000640845,31-65,92-181,,,1,"[[31, 65]]"
4,,,O00321-1,NaN,ENST00000403402,242-321,1-162,,,1,"[[242, 321]]"
...,...,...,...,...,...,...,...,...,...,...,...
441,,,Q9Y5R6-1,NaN,ENST00000382276,72-118,172-251,,,1,"[[72, 118]]"
442,,,Q9Y5W3,NaN,ENST00000248071.6,"272-296,302-326,332-354",1-89,,,1,"[[272, 296], [302, 326], [332, 354]]"
443,,,Q9Y692-1,NaN,ENST00000294409,89-165,422-573,,,1,"[[89, 165]]"
444,,,Q9Y6Q9-1,NaN,ENST00000371998,31-83,621-1424,,,1,"[[31, 83]]"
445,,,Q9Y6Y1-1,NaN,ENST00000303635,69-182,"702-841,422-501",,,1,"[[69, 182]]"

In [46]:
TF_table_formatted = TF_table_formatted.drop(columns = "DBD_coords_merged")
TF_table_formatted

,1,2,uniprotID,ENSG,ENST,DBD_coords,AD_coords,RD_coords,Bif_coords,length
0,,,A6NJG6,NaN,ENST00000334384.5,79-135,142-315,,,1
1,,,A8MTJ6,NaN,ENST00000428390.3,145-234,369-420,,,1
2,,,A8MYZ6,NaN,ENST00000641094.2,89-178,382-491,,,1
3,,,A8MZ59-2,NaN,ENST00000640845,31-65,92-181,,,1
4,,,O00321-1,NaN,ENST00000403402,242-321,1-162,,,1
...,...,...,...,...,...,...,...,...,...,...
441,,,Q9Y5R6-1,NaN,ENST00000382276,72-118,172-251,,,1
442,,,Q9Y5W3,NaN,ENST00000248071.6,"272-296,302-326,332-354",1-89,,,1
443,,,Q9Y692-1,NaN,ENST00000294409,89-165,422-573,,,1
444,,,Q9Y6Q9-1,NaN,ENST00000371998,31-83,621-1424,,,1
445,,,Q9Y6Y1-1,NaN,ENST00000303635,69-182,"702-841,422-501",,,1

In [47]:
TF_table_formatted["uniprotID"] = TF_table_formatted["uniprotID"].str.split("-").str[0]
TF_table_formatted

,1,2,uniprotID,ENSG,ENST,DBD_coords,AD_coords,RD_coords,Bif_coords,length
0,,,A6NJG6,NaN,ENST00000334384.5,79-135,142-315,,,1
1,,,A8MTJ6,NaN,ENST00000428390.3,145-234,369-420,,,1
2,,,A8MYZ6,NaN,ENST00000641094.2,89-178,382-491,,,1
3,,,A8MZ59,NaN,ENST00000640845,31-65,92-181,,,1
4,,,O00321,NaN,ENST00000403402,242-321,1-162,,,1
...,...,...,...,...,...,...,...,...,...,...
441,,,Q9Y5R6,NaN,ENST00000382276,72-118,172-251,,,1
442,,,Q9Y5W3,NaN,ENST00000248071.6,"272-296,302-326,332-354",1-89,,,1
443,,,Q9Y692,NaN,ENST00000294409,89-165,422-573,,,1
444,,,Q9Y6Q9,NaN,ENST00000371998,31-83,621-1424,,,1
445,,,Q9Y6Y1,NaN,ENST00000303635,69-182,"702-841,422-501",,,1

In [48]:
TF_table_formatted["ENST"] = TF_table_formatted["ENST"].str.split(".").str[0]
TF_table_formatted

,1,2,uniprotID,ENSG,ENST,DBD_coords,AD_coords,RD_coords,Bif_coords,length
0,,,A6NJG6,NaN,ENST00000334384,79-135,142-315,,,1
1,,,A8MTJ6,NaN,ENST00000428390,145-234,369-420,,,1
2,,,A8MYZ6,NaN,ENST00000641094,89-178,382-491,,,1
3,,,A8MZ59,NaN,ENST00000640845,31-65,92-181,,,1
4,,,O00321,NaN,ENST00000403402,242-321,1-162,,,1
...,...,...,...,...,...,...,...,...,...,...
441,,,Q9Y5R6,NaN,ENST00000382276,72-118,172-251,,,1
442,,,Q9Y5W3,NaN,ENST00000248071,"272-296,302-326,332-354",1-89,,,1
443,,,Q9Y692,NaN,ENST00000294409,89-165,422-573,,,1
444,,,Q9Y6Q9,NaN,ENST00000371998,31-83,621-1424,,,1
445,,,Q9Y6Y1,NaN,ENST00000303635,69-182,"702-841,422-501",,,1

In [49]:
TF_table_formatted.to_csv("../soto_analysis/outputs/all_TFs_table_proteins.txt", sep = "\t")

In [50]:
# Checking if consistent with other table

In [51]:
SFARI_TFs_table = pd.read_csv("../soto_analysis/outputs/TFs_table_proteins.txt", sep = "\t")
SFARI_TFs_table

,Unnamed: 0,1,2,uniprotID,ENSG,ENST,DBD_coords,AD_coords,RD_coords,Bif_coords,length
0,0,NaN,NaN,O14770,ENSG00000134138,ENST00000561208,276-338,340-477,NaN,NaN,1
1,1,NaN,NaN,O60479,ENSG00000064195,ENST00000434704,129-188,"199-263,2-91",NaN,NaN,1
2,2,NaN,NaN,O75840,ENSG00000118263,ENST00000309446,NA-NA,2-101,NaN,NaN,1
3,3,NaN,NaN,O94983,ENSG00000108509,ENST00000348066,30-155,"285-468,472-581",NaN,NaN,1
4,4,NaN,NaN,O95096,ENSG00000125820,ENST00000377142,128-187,220-273,NaN,NaN,1
5,5,NaN,NaN,P10827,ENSG00000126351,ENST00000264637,53-127,1-52,NaN,NaN,1
6,6,NaN,NaN,P11308,ENSG00000157554,ENST00000288319,311-391,"433-479,118-261",NaN,NaN,1
7,7,NaN,NaN,P11473,ENSG00000111424,ENST00000395324,21-96,"415-427,195-238",NaN,NaN,1
8,8,NaN,NaN,P15884,ENSG00000196628,ENST00000356073,NA-NA,"1-100,340-400",NaN,NaN,1
9,9,NaN,NaN,P19532,ENSG00000068323,ENST00000315869,NA-NA,"212-333,472-575,1-127",NaN,NaN,1
10,10,NaN,NaN,P20393,ENSG00000126368,ENST00000246672,129-205,8-285,NaN,NaN,1
11,11,NaN,NaN,P25490,ENSG00000100811,ENST00000262238,NA-NA,"1-69,371-397",NaN,NaN,1
12,12,NaN,NaN,P26367,ENSG00000007372,ENST00000241001,4-130,271-422,NaN,NaN,1
13,13,NaN,NaN,P32242,ENSG00000115507,ENST00000282549,38-97,172-354,NaN,NaN,1
14,14,NaN,NaN,P35398,ENSG00000069667,ENST00000335670,73-138,272-385,NaN,NaN,1
15,15,NaN,NaN,P35548,ENSG00000120149,ENST00000239243,142-201,234-267,NaN,NaN,1
16,16,NaN,NaN,P43354,ENSG00000153234,ENST00000339562,260-335,"1-91,584-598",NaN,NaN,1
17,17,NaN,NaN,P78337,ENSG00000069011,ENST00000265340,89-148,234-283,NaN,NaN,1
18,18,NaN,NaN,Q02548,ENSG00000196092,ENST00000358127,16-142,304-358,NaN,NaN,1
19,19,NaN,NaN,Q03164,ENSG00000118058,ENST00000389506,169-180,2782-2921,NaN,NaN,1
20,20,NaN,NaN,Q06413,ENSG00000081189,ENST00000437473,58-86,87-473,NaN,NaN,1
21,21,NaN,NaN,Q06889,ENSG00000179388,ENST00000317216,NA-NA,13-214,NaN,NaN,1
22,22,NaN,NaN,Q12857,ENSG00000162599,ENST00000403491,1-194,427-509,NaN,NaN,1
23,23,NaN,NaN,Q13422,ENSG00000185811,ENST00000331340,NA-NA,284-365,NaN,NaN,1
24,24,NaN,NaN,Q13485,ENSG00000141646,ENST00000342988,NA-NA,"30-60,275-552",NaN,NaN,1
25,25,NaN,NaN,Q14872,ENSG00000188786,ENST00000373036,NA-NA,"510-624,328-509",NaN,NaN,1
26,26,NaN,NaN,Q14938,ENSG00000008441,ENST00000592199,1-194,414-502,NaN,NaN,1
27,27,NaN,NaN,Q15788,ENSG00000084676,ENST00000348332,NA-NA,"1-93,1241-1385,840-1011",NaN,NaN,1
28,28,NaN,NaN,Q5T1R4,ENSG00000127124,ENST00000372583,NA-NA,211-1074,NaN,NaN,1
29,29,NaN,NaN,Q6N021,ENSG00000168769,ENST00000380013,NA-NA,1582-1751,NaN,NaN,1
30,30,NaN,NaN,Q6P1N0,ENSG00000132024,ENST00000318003,NA-NA,22-60,NaN,NaN,1
31,31,NaN,NaN,Q6ZRS2,ENSG00000080603,ENST00000262518,2857-2869,"2575-3230,198-1445",NaN,NaN,1
32,32,NaN,NaN,Q86V15,ENSG00000130940,ENST00000377022,NA-NA,31-185,NaN,NaN,1
33,33,NaN,NaN,Q8NBF1,ENSG00000174332,ENST00000312233,NA-NA,447-620,NaN,NaN,1
34,34,NaN,NaN,Q92731,ENSG00000140009,ENST00000341099,149-214,"1-148,304-500",NaN,NaN,1
35,35,NaN,NaN,Q96QS3,ENSG00000004848,ENST00000379044,328-387,472-562,NaN,NaN,1
36,36,NaN,NaN,Q9BXK1,ENSG00000129911,ENST00000250916,NA-NA,209-252,NaN,NaN,1
37,37,NaN,NaN,Q9H4W6,ENSG00000108001,ENST00000355311,NA-NA,281-360,NaN,NaN,1
38,38,NaN,NaN,Q9HBZ2,ENSG00000172379,ENST00000303329,NA-NA,524-717,NaN,NaN,1
39,39,NaN,NaN,Q9NQB0,ENSG00000148737,ENST00000355995,350-418,"1-53,459-505",NaN,NaN,1
40,40,NaN,NaN,Q9UGL1,ENSG00000117139,ENST00000367265,NA-NA,1302-1391,NaN,NaN,1
41,41,NaN,NaN,Q9UGU0,ENSG00000100207,ENST00000359486,1537-1551,1-327,NaN,NaN,1
42,42,NaN,NaN,Q9UL68,ENSG00000186487,ENST00000428368,NA-NA,152-425,NaN,NaN,1
43,43,NaN,NaN,Q9Y458,ENSG00000122145,ENST00000373294,96-283,402-481,NaN,NaN,1
44,44,NaN,NaN,Q9Y4A8,ENSG00000050344,ENST00000056233,NA-NA,252-451,NaN,NaN,1

In [52]:
all_TFs_table = pd.read_csv("../soto_analysis/outputs/all_TFs_table_proteins.txt", sep = "\t")
all_TFs_table

,Unnamed: 0,1,2,uniprotID,ENSG,ENST,DBD_coords,AD_coords,RD_coords,Bif_coords,length
0,0,NaN,NaN,A6NJG6,NaN,ENST00000334384,79-135,142-315,NaN,NaN,1
1,1,NaN,NaN,A8MTJ6,NaN,ENST00000428390,145-234,369-420,NaN,NaN,1
2,2,NaN,NaN,A8MYZ6,NaN,ENST00000641094,89-178,382-491,NaN,NaN,1
3,3,NaN,NaN,A8MZ59,NaN,ENST00000640845,31-65,92-181,NaN,NaN,1
4,4,NaN,NaN,O00321,NaN,ENST00000403402,242-321,1-162,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...
441,441,NaN,NaN,Q9Y5R6,NaN,ENST00000382276,72-118,172-251,NaN,NaN,1
442,442,NaN,NaN,Q9Y5W3,NaN,ENST00000248071,"272-296,302-326,332-354",1-89,NaN,NaN,1
443,443,NaN,NaN,Q9Y692,NaN,ENST00000294409,89-165,422-573,NaN,NaN,1
444,444,NaN,NaN,Q9Y6Q9,NaN,ENST00000371998,31-83,621-1424,NaN,NaN,1
445,445,NaN,NaN,Q9Y6Y1,NaN,ENST00000303635,69-182,"702-841,422-501",NaN,NaN,1

In [53]:
# Everything matches! Yay!
matches = pd.merge(SFARI_TFs_table, TF_table_formatted, on = ["uniprotID", "ENST", "AD_coords"])
matches

,Unnamed: 0,1_x,2_x,uniprotID,ENSG_x,ENST,DBD_coords_x,AD_coords,RD_coords_x,Bif_coords_x,length_x,1_y,2_y,ENSG_y,DBD_coords_y,RD_coords_y,Bif_coords_y,length_y
0,0,NaN,NaN,O14770,ENSG00000134138,ENST00000561208,276-338,340-477,NaN,NaN,1,,,NaN,277-334,,,1
1,1,NaN,NaN,O60479,ENSG00000064195,ENST00000434704,129-188,"199-263,2-91",NaN,NaN,1,,,NaN,130-186,,,1
2,2,NaN,NaN,O75840,ENSG00000118263,ENST00000309446,NA-NA,2-101,NaN,NaN,1,,,NaN,"219-243,249-273,279-301",,,1
3,3,NaN,NaN,O94983,ENSG00000108509,ENST00000348066,30-155,"285-468,472-581",NaN,NaN,1,,,NaN,37-149,,,1
4,4,NaN,NaN,O95096,ENSG00000125820,ENST00000377142,128-187,220-273,NaN,NaN,1,,,NaN,129-185,,,1
5,5,NaN,NaN,P10827,ENSG00000126351,ENST00000264637,53-127,1-52,NaN,NaN,1,,,NaN,51-122,,,1
6,6,NaN,NaN,P11308,ENSG00000157554,ENST00000288319,311-391,"433-479,118-261",NaN,NaN,1,,,NaN,312-391,,,1
7,7,NaN,NaN,P11473,ENSG00000111424,ENST00000395324,21-96,"415-427,195-238",NaN,NaN,1,,,NaN,22-91,,,1
8,8,NaN,NaN,P15884,ENSG00000196628,ENST00000356073,NA-NA,"1-100,340-400",NaN,NaN,1,,,NaN,565-618,,,1
9,9,NaN,NaN,P19532,ENSG00000068323,ENST00000315869,NA-NA,"212-333,472-575,1-127",NaN,NaN,1,,,NaN,347-400,,,1
10,10,NaN,NaN,P20393,ENSG00000126368,ENST00000246672,129-205,8-285,NaN,NaN,1,,,NaN,130-200,,,1
11,11,NaN,NaN,P25490,ENSG00000100811,ENST00000262238,NA-NA,"1-69,371-397",NaN,NaN,1,,,NaN,"296-320,325-347,353-377,383-407",,,1
12,12,NaN,NaN,P26367,ENSG00000007372,ENST00000241001,4-130,271-422,NaN,NaN,1,,,NaN,"4-128,211-267",,,1
13,13,NaN,NaN,P32242,ENSG00000115507,ENST00000282549,38-97,172-354,NaN,NaN,1,,,NaN,39-95,,,1
14,14,NaN,NaN,P35398,ENSG00000069667,ENST00000335670,73-138,272-385,NaN,NaN,1,,,NaN,71-140,,,1
15,15,NaN,NaN,P35548,ENSG00000120149,ENST00000239243,142-201,234-267,NaN,NaN,1,,,NaN,143-199,,,1
16,16,NaN,NaN,P43354,ENSG00000153234,ENST00000339562,260-335,"1-91,584-598",NaN,NaN,1,,,NaN,261-330,,,1
17,17,NaN,NaN,P78337,ENSG00000069011,ENST00000265340,89-148,234-283,NaN,NaN,1,,,NaN,90-146,,,1
18,18,NaN,NaN,Q02548,ENSG00000196092,ENST00000358127,16-142,304-358,NaN,NaN,1,,,NaN,16-140,,,1
19,19,NaN,NaN,Q03164,ENSG00000118058,ENST00000389506,169-180,2782-2921,NaN,NaN,1,,,NaN,1147-1194,,,1
20,20,NaN,NaN,Q06413,ENSG00000081189,ENST00000437473,58-86,87-473,NaN,NaN,1,,,NaN,10-57,,,1
21,21,NaN,NaN,Q06889,ENSG00000179388,ENST00000317216,NA-NA,13-214,NaN,NaN,1,,,NaN,"275-299,305-327,333-355",,,1
22,22,NaN,NaN,Q12857,ENSG00000162599,ENST00000403491,1-194,427-509,NaN,NaN,1,,,NaN,68-172,,,1
23,23,NaN,NaN,Q13422,ENSG00000185811,ENST00000331340,NA-NA,284-365,NaN,NaN,1,,,NaN,"117-139,145-167,173-195,201-224",,,1
24,24,NaN,NaN,Q13485,ENSG00000141646,ENST00000342988,NA-NA,"30-60,275-552",NaN,NaN,1,,,NaN,36-137,,,1
25,25,NaN,NaN,Q14872,ENSG00000188786,ENST00000373036,NA-NA,"510-624,328-509",NaN,NaN,1,,,NaN,"140-164,170-194,200-224,229-253,259-283,289-313",,,1
26,26,NaN,NaN,Q14938,ENSG00000008441,ENST00000592199,1-194,414-502,NaN,NaN,1,,,NaN,68-172,,,1
27,27,NaN,NaN,Q15788,ENSG00000084676,ENST00000348332,NA-NA,"1-93,1241-1385,840-1011",NaN,NaN,1,,,NaN,26-81,,,1
28,28,NaN,NaN,Q5T1R4,ENSG00000127124,ENST00000372583,NA-NA,211-1074,NaN,NaN,1,,,NaN,"192-214,220-242,1754-1776,1782-1806",,,1
29,29,NaN,NaN,Q6N021,ENSG00000168769,ENST00000380013,NA-NA,1582-1751,NaN,NaN,1,,,NaN,1-2002,,,1
30,30,NaN,NaN,Q6P1N0,ENSG00000132024,ENST00000318003,NA-NA,22-60,NaN,NaN,1,,,NaN,1-951,,,1
31,31,NaN,NaN,Q6ZRS2,ENSG00000080603,ENST00000262518,2857-2869,"2575-3230,198-1445",NaN,NaN,1,,,NaN,"2856-2868,2935-2947,3003-3015",,,1
32,32,NaN,NaN,Q86V15,ENSG00000130940,ENST00000377022,NA-NA,31-185,NaN,NaN,1,,,NaN,"489-514,550-574,609-634,667-691,1030-1054,1181...",,,1
33,33,NaN,NaN,Q8NBF1,ENSG00000174332,ENST00000312233,NA-NA,447-620,NaN,NaN,1,,,NaN,"196-220,229-256,263-286,292-316,322-346",,,1
34,34,NaN,NaN,Q92731,ENSG00000140009,ENST00000341099,149-214,"1-148,304-500",NaN,NaN,1,,,NaN,147-216,,,1
35,35,NaN,NaN,Q96QS3,ENSG00000004848,ENST00000379044,328-387,472-562,NaN,NaN,1,,,NaN,329-385,,,1
36,36,NaN,NaN,Q9BXK1,ENSG00000129911,ENST00000250916,NA-NA,209-252,NaN,NaN,1,,,NaN,"127-151,157-181,187-209",,,1
37,37,NaN,NaN,Q9H4W6,ENSG00000108001,ENST00000355311,NA-NA,281-360,NaN,NaN,1,,,NaN,17-247,,,1
38,38,NaN,NaN,Q9HBZ2,ENSG00000172379,ENST00000303329,NA-NA,524-717,NaN,NaN,1,,,NaN,64-117,,,1
39,39,NaN,NaN,Q9NQB0,ENSG00000148737,ENST00000355995,350-418,"1-53,459-505",NaN,NaN,1,,,NaN,350-418,,,1
40,40,NaN,NaN,Q9UGL1,ENSG00000117139,ENST00000367265,NA-NA,1302-1391,NaN,NaN,1,,,NaN,99-183,,,1
41,41,NaN,NaN,Q9UGU0,ENSG00000100207,ENST00000359486,1537-1551,1-327,NaN,NaN,1,,,NaN,1-1960,,,1
42,42,NaN,NaN,Q9UL68,ENSG00000186487,ENST00000428368,NA-NA,152-425,NaN,NaN,1,,,NaN,"30-58,505-532,549-577,878-888,904-932,953-981,...",,,1
43,43,NaN,NaN,Q9Y458,ENSG00000122145,ENST00000373294,96-283,402-481,NaN,NaN,1,,,NaN,94-283,,,1
44,44,NaN,NaN,Q9Y4A8,ENSG00000050344,ENST00000056233,NA-NA,252-451,NaN,NaN,1,,,NaN,577-639,,,1

In [54]:
RDs = pd.read_csv("../data/tycko_soto_delrosso_RD_coordinate_data_updated_12-2-24.csv", header = None)
RDs[1] = RDs[1].str.replace(r'\((\d+), (\d+)\)', r'\1-\2', regex = True).str[1:-1].str.replace(" ", "")
RDs = RDs.rename(columns = {0: "uniprotID", 1: "RD_coords"})
RDs

       uniprotID                         RD_coords
0     A0A024R0Y4                             11-90
1     A0A087X169                            21-140
2     A0A0A0MRP6            11-140,561-650,881-960
3     A0A0B4J2G0              2-81,352-431,612-731
4     A0A0C4DFL8          581-700,831-910,931-1050
...          ...                               ...
1690      Q9Y6K1                           312-391
1691      Q9Y6Q9            12-181,292-371,652-861
1692      Q9Y6X0                 362-441,1002-1121
1693      Q9Y6X8                      2-81,263-446
1694      Q9Y6Y1  282-361,472-721,822-911,912-1051

[1695 rows x 2 columns]

In [55]:
all_TFs_table

,Unnamed: 0,1,2,uniprotID,ENSG,ENST,DBD_coords,AD_coords,RD_coords,Bif_coords,length
0,0,NaN,NaN,A6NJG6,NaN,ENST00000334384,79-135,142-315,NaN,NaN,1
1,1,NaN,NaN,A8MTJ6,NaN,ENST00000428390,145-234,369-420,NaN,NaN,1
2,2,NaN,NaN,A8MYZ6,NaN,ENST00000641094,89-178,382-491,NaN,NaN,1
3,3,NaN,NaN,A8MZ59,NaN,ENST00000640845,31-65,92-181,NaN,NaN,1
4,4,NaN,NaN,O00321,NaN,ENST00000403402,242-321,1-162,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...
441,441,NaN,NaN,Q9Y5R6,NaN,ENST00000382276,72-118,172-251,NaN,NaN,1
442,442,NaN,NaN,Q9Y5W3,NaN,ENST00000248071,"272-296,302-326,332-354",1-89,NaN,NaN,1
443,443,NaN,NaN,Q9Y692,NaN,ENST00000294409,89-165,422-573,NaN,NaN,1
444,444,NaN,NaN,Q9Y6Q9,NaN,ENST00000371998,31-83,621-1424,NaN,NaN,1
445,445,NaN,NaN,Q9Y6Y1,NaN,ENST00000303635,69-182,"702-841,422-501",NaN,NaN,1

In [56]:
all_TFs_table_with_RDs = pd.merge(all_TFs_table, RDs, how = "left", on = "uniprotID")
all_TFs_table_with_RDs

,Unnamed: 0,1,2,uniprotID,ENSG,ENST,DBD_coords,AD_coords,RD_coords_x,Bif_coords,length,RD_coords_y
0,0,NaN,NaN,A6NJG6,NaN,ENST00000334384,79-135,142-315,NaN,NaN,1,152-315
1,1,NaN,NaN,A8MTJ6,NaN,ENST00000428390,145-234,369-420,NaN,NaN,1,NaN
2,2,NaN,NaN,A8MYZ6,NaN,ENST00000641094,89-178,382-491,NaN,NaN,1,NaN
3,3,NaN,NaN,A8MZ59,NaN,ENST00000640845,31-65,92-181,NaN,NaN,1,22-101
4,4,NaN,NaN,O00321,NaN,ENST00000403402,242-321,1-162,NaN,NaN,1,22-121
...,...,...,...,...,...,...,...,...,...,...,...,...
441,441,NaN,NaN,Q9Y5R6,NaN,ENST00000382276,72-118,172-251,NaN,NaN,1,182-261
442,442,NaN,NaN,Q9Y5W3,NaN,ENST00000248071,"272-296,302-326,332-354",1-89,NaN,NaN,1,62-268
443,443,NaN,NaN,Q9Y692,NaN,ENST00000294409,89-165,422-573,NaN,NaN,1,"52-141,202-291"
444,444,NaN,NaN,Q9Y6Q9,NaN,ENST00000371998,31-83,621-1424,NaN,NaN,1,"12-181,292-371,652-861"
445,445,NaN,NaN,Q9Y6Y1,NaN,ENST00000303635,69-182,"702-841,422-501",NaN,NaN,1,"282-361,472-721,822-911,912-1051"

In [57]:
all_TFs_table_with_RDs["RD_coords_x"] = all_TFs_table_with_RDs["RD_coords_y"]
all_TFs_table_with_RDs = all_TFs_table_with_RDs.rename(columns = {"RD_coords_x" : "RD_coords"})
all_TFs_table_with_RDs = all_TFs_table_with_RDs.drop(columns = "RD_coords_y")
all_TFs_table_with_RDs

,Unnamed: 0,1,2,uniprotID,ENSG,ENST,DBD_coords,AD_coords,RD_coords,Bif_coords,length
0,0,NaN,NaN,A6NJG6,NaN,ENST00000334384,79-135,142-315,152-315,NaN,1
1,1,NaN,NaN,A8MTJ6,NaN,ENST00000428390,145-234,369-420,NaN,NaN,1
2,2,NaN,NaN,A8MYZ6,NaN,ENST00000641094,89-178,382-491,NaN,NaN,1
3,3,NaN,NaN,A8MZ59,NaN,ENST00000640845,31-65,92-181,22-101,NaN,1
4,4,NaN,NaN,O00321,NaN,ENST00000403402,242-321,1-162,22-121,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...
441,441,NaN,NaN,Q9Y5R6,NaN,ENST00000382276,72-118,172-251,182-261,NaN,1
442,442,NaN,NaN,Q9Y5W3,NaN,ENST00000248071,"272-296,302-326,332-354",1-89,62-268,NaN,1
443,443,NaN,NaN,Q9Y692,NaN,ENST00000294409,89-165,422-573,"52-141,202-291",NaN,1
444,444,NaN,NaN,Q9Y6Q9,NaN,ENST00000371998,31-83,621-1424,"12-181,292-371,652-861",NaN,1
445,445,NaN,NaN,Q9Y6Y1,NaN,ENST00000303635,69-182,"702-841,422-501","282-361,472-721,822-911,912-1051",NaN,1

In [58]:
len(all_TFs_table_with_RDs[all_TFs_table_with_RDs["RD_coords"].isna()])

82

In [59]:
len(all_TFs_table_with_RDs[~all_TFs_table_with_RDs["RD_coords"].isna()])

364

In [64]:
364/446

0.8161434977578476

In [65]:
all_TFs_table_with_RDs.to_csv("../soto_analysis/outputs/all_TFs_table_proteins.txt", sep = "\t", index = None)