In [1]:
import pandas as pd

In [28]:
all_TFs_table = pd.read_csv("../outputs/all_TFs_table_proteins.txt", sep = "\t", index_col = 0)

In [55]:
def display_diff_summary(uniprotID):
    # Get enst used
    ENST = all_TFs_table[all_TFs_table["uniprotID"] == uniprotID]["ENST"].iloc[0]

    # 1. CDS coordinates comparison
    print("CDS COORDINATES\n")
    print("Old")
    display(pd.read_csv("../outputs/mutations_old2/cds_bed_format/" + uniprotID + ".bed", sep = "\t", header = None).sort_values(by = 1))
    
    print("New")
    display(pd.read_csv("../outputs/mutations/cds_bed_format/" + ENST, sep = "\t", header = None).sort_values(by = 1))

    print('─' * 100)    
    
    # 2. CDS variants 
    print("CDS VARIANTS\n")
    print("Old")
    display(pd.read_csv("../outputs/mutations_old2/cds_expanded_iWES_v2_variants/" + uniprotID + ".bed", sep = "\t", header = None))

    print("New")
    display(pd.read_csv("../outputs/mutations/cds_expanded_iWES_v2_variants/" + ENST + ".bed", sep = "\t", header = None))

    print('─' * 100)    
    
    # 3. CDS Variants classified

    print("CDS VARIANTS CLASSIFIED\n")
    print("Old")
    display(pd.read_csv("../outputs/mutations_old2/cds_expanded_iWES_v2_variants_snv_classified/" + uniprotID + ".bed", sep = "\t", header = None))

    print("New")
    display(pd.read_csv("../outputs/mutations/cds_expanded_iWES_v2_variants_snv_classified/" + ENST + ".bed", sep = "\t", header = None))

In [64]:
display_diff_summary("Q92731")

CDS COORDINATES

Old

    0         1         2       3                4  5
7  14  64233139  64233323  Q92731  ENST00000341099  -
6  14  64234969  64235150  Q92731  ENST00000341099  -
5  14  64249545  64249679  Q92731  ENST00000341099  -
4  14  64257225  64257364  Q92731  ENST00000341099  -
3  14  64260448  64260748  Q92731  ENST00000341099  -
2  14  64268794  64268911  Q92731  ENST00000341099  -
1  14  64279980  64280153  Q92731  ENST00000341099  -
0  14  64282623  64282985  Q92731  ENST00000341099  -

New

    0         1         2                3  4
7  14  64233136  64233323  ENST00000341099 -1
6  14  64234969  64235150  ENST00000341099 -1
5  14  64249545  64249679  ENST00000341099 -1
4  14  64257225  64257364  ENST00000341099 -1
3  14  64260448  64260748  ENST00000341099 -1
2  14  64268794  64268911  ENST00000341099 -1
1  14  64279980  64280153  ENST00000341099 -1
0  14  64282623  64282985  ENST00000341099 -1

────────────────────────────────────────────────────────────────────────────────────────────────────
CDS VARIANTS

Old

,0,1,2,3,4,5,6,7,8,9,10,11
0,14,64233145,64233146,Q92731,ENST00000341099,-,14,64233145,64233146,CTG,C,0.000037
1,14,64233145,64233146,Q92731,ENST00000341099,-,14,64233145,64233146,CTG,TTG,0.000019
2,14,64233154,64233155,Q92731,ENST00000341099,-,14,64233154,64233155,C,G,0.000009
3,14,64233157,64233158,Q92731,ENST00000341099,-,14,64233157,64233158,G,T,0.000019
4,14,64233158,64233159,Q92731,ENST00000341099,-,14,64233158,64233159,G,C,0.000009
...,...,...,...,...,...,...,...,...,...,...,...,...
391,14,64282963,64282964,Q92731,ENST00000341099,-,14,64282963,64282964,A,T,0.000005
392,14,64282966,64282967,Q92731,ENST00000341099,-,14,64282966,64282967,G,A,0.000005
393,14,64282969,64282970,Q92731,ENST00000341099,-,14,64282969,64282970,A,C,0.000033
394,14,64282975,64282976,Q92731,ENST00000341099,-,14,64282975,64282976,TTATATC,T,0.000009
395,14,64282975,64282976,Q92731,ENST00000341099,-,14,64282975,64282976,TTATATC,TTACATC,0.000979

New

,0,1,2,3,4,5,6,7,8,9,10
0,14,64233145,64233146,ENST00000341099,-1,14,64233145,64233146,CTG,C,0.000037
1,14,64233145,64233146,ENST00000341099,-1,14,64233145,64233146,CTG,TTG,0.000019
2,14,64233154,64233155,ENST00000341099,-1,14,64233154,64233155,C,G,0.000009
3,14,64233157,64233158,ENST00000341099,-1,14,64233157,64233158,G,T,0.000019
4,14,64233158,64233159,ENST00000341099,-1,14,64233158,64233159,G,C,0.000009
...,...,...,...,...,...,...,...,...,...,...,...
391,14,64282963,64282964,ENST00000341099,-1,14,64282963,64282964,A,T,0.000005
392,14,64282966,64282967,ENST00000341099,-1,14,64282966,64282967,G,A,0.000005
393,14,64282969,64282970,ENST00000341099,-1,14,64282969,64282970,A,C,0.000033
394,14,64282975,64282976,ENST00000341099,-1,14,64282975,64282976,TTATATC,TTACATC,0.000979
395,14,64282975,64282976,ENST00000341099,-1,14,64282975,64282976,TTATATC,T,0.000009

────────────────────────────────────────────────────────────────────────────────────────────────────
CDS VARIANTS CLASSIFIED

Old

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,14,64233154,64233155,Q92731,ENST00000341099,-,14,64233154,64233155,C,G,0.000009,Q,H,No-Syn
1,14,64233157,64233158,Q92731,ENST00000341099,-,14,64233157,64233158,G,T,0.000019,S,S,Syn
2,14,64233158,64233159,Q92731,ENST00000341099,-,14,64233158,64233159,G,C,0.000009,S,C,No-Syn
3,14,64233164,64233165,Q92731,ENST00000341099,-,14,64233164,64233165,T,C,0.000005,E,G,No-Syn
4,14,64233181,64233182,Q92731,ENST00000341099,-,14,64233181,64233182,C,T,0.000117,E,E,Syn
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
354,14,64282925,64282926,Q92731,ENST00000341099,-,14,64282925,64282926,T,C,0.000005,Q,Q,Syn
355,14,64282940,64282941,Q92731,ENST00000341099,-,14,64282940,64282941,G,A,0.000295,S,S,Syn
356,14,64282963,64282964,Q92731,ENST00000341099,-,14,64282963,64282964,A,T,0.000005,S,T,No-Syn
357,14,64282966,64282967,Q92731,ENST00000341099,-,14,64282966,64282967,G,A,0.000005,P,S,No-Syn
358,14,64282969,64282970,Q92731,ENST00000341099,-,14,64282969,64282970,A,C,0.000033,S,A,No-Syn

New

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,14,64233154,64233155,ENST00000341099,-1,14,64233154,64233155,C,G,0.000009,Q,H,No-Syn
1,14,64233157,64233158,ENST00000341099,-1,14,64233157,64233158,G,T,0.000019,S,S,Syn
2,14,64233158,64233159,ENST00000341099,-1,14,64233158,64233159,G,C,0.000009,S,C,No-Syn
3,14,64233164,64233165,ENST00000341099,-1,14,64233164,64233165,T,C,0.000005,E,G,No-Syn
4,14,64233181,64233182,ENST00000341099,-1,14,64233181,64233182,C,T,0.000117,E,E,Syn
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
354,14,64282925,64282926,ENST00000341099,-1,14,64282925,64282926,T,C,0.000005,Q,Q,Syn
355,14,64282940,64282941,ENST00000341099,-1,14,64282940,64282941,G,A,0.000295,S,S,Syn
356,14,64282963,64282964,ENST00000341099,-1,14,64282963,64282964,A,T,0.000005,S,T,No-Syn
357,14,64282966,64282967,ENST00000341099,-1,14,64282966,64282967,G,A,0.000005,P,S,No-Syn
358,14,64282969,64282970,ENST00000341099,-1,14,64282969,64282970,A,C,0.000033,S,A,No-Syn

In [62]:
display_diff_summary("Q13422")

CDS COORDINATES

Old

   0         1         2       3                4  5
0  7  50319061  50319101  Q13422  ENST00000331340  +
1  7  50327637  50327757  Q13422  ENST00000331340  +
2  7  50376532  50376793  Q13422  ENST00000331340  +
3  7  50382539  50382707  Q13422  ENST00000331340  +
4  7  50387344  50387470  Q13422  ENST00000331340  +
5  7  50391728  50391863  Q13422  ENST00000331340  +
6  7  50399917  50400624  Q13422  ENST00000331340  +

New

   0         1         2                3  4
0  7  50319061  50319101  ENST00000331340  1
1  7  50327637  50327757  ENST00000331340  1
5  7  50376532  50376793  ENST00000331340  1
2  7  50382539  50382707  ENST00000331340  1
3  7  50387344  50387470  ENST00000331340  1
4  7  50391728  50391863  ENST00000331340  1
6  7  50399917  50400627  ENST00000331340  1

────────────────────────────────────────────────────────────────────────────────────────────────────
CDS VARIANTS

Old

,0,1,2,3,4,5,6,7,8,9,10,11
0,7,50319070,50319071,Q13422,ENST00000331340,+,7,50319070,50319071,G,T,0.000005
1,7,50319075,50319076,Q13422,ENST00000331340,+,7,50319075,50319076,G,A,0.000037
2,7,50319085,50319086,Q13422,ENST00000331340,+,7,50319085,50319086,A,G,0.000019
3,7,50319086,50319087,Q13422,ENST00000331340,+,7,50319086,50319087,T,C,0.000023
4,7,50319093,50319094,Q13422,ENST00000331340,+,7,50319093,50319094,A,G,0.000019
...,...,...,...,...,...,...,...,...,...,...,...,...
325,7,50400593,50400594,Q13422,ENST00000331340,+,7,50400593,50400594,A,C,0.000033
326,7,50400599,50400600,Q13422,ENST00000331340,+,7,50400599,50400600,A,C,0.000028
327,7,50400608,50400609,Q13422,ENST00000331340,+,7,50400608,50400609,C,T,0.000009
328,7,50400612,50400613,Q13422,ENST00000331340,+,7,50400612,50400613,T,C,0.000005
329,7,50400619,50400620,Q13422,ENST00000331340,+,7,50400619,50400620,T,A,0.000005

New

,0,1,2,3,4,5,6,7,8,9,10
0,7,50319070,50319071,ENST00000331340,1,7,50319070,50319071,G,T,0.000005
1,7,50319075,50319076,ENST00000331340,1,7,50319075,50319076,G,A,0.000037
2,7,50319085,50319086,ENST00000331340,1,7,50319085,50319086,A,G,0.000019
3,7,50319086,50319087,ENST00000331340,1,7,50319086,50319087,T,C,0.000023
4,7,50319093,50319094,ENST00000331340,1,7,50319093,50319094,A,G,0.000019
...,...,...,...,...,...,...,...,...,...,...,...
325,7,50400593,50400594,ENST00000331340,1,7,50400593,50400594,A,C,0.000033
326,7,50400599,50400600,ENST00000331340,1,7,50400599,50400600,A,C,0.000028
327,7,50400608,50400609,ENST00000331340,1,7,50400608,50400609,C,T,0.000009
328,7,50400612,50400613,ENST00000331340,1,7,50400612,50400613,T,C,0.000005
329,7,50400619,50400620,ENST00000331340,1,7,50400619,50400620,T,A,0.000005

────────────────────────────────────────────────────────────────────────────────────────────────────
CDS VARIANTS CLASSIFIED

Old

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,7,50319070,50319071,Q13422,ENST00000331340,+,7,50319070,50319071,G,T,0.000005,D,Y,No-Syn
1,7,50319075,50319076,Q13422,ENST00000331340,+,7,50319075,50319076,G,A,0.000037,E,E,Syn
2,7,50319085,50319086,Q13422,ENST00000331340,+,7,50319085,50319086,A,G,0.000019,M,V,No-Syn
3,7,50319086,50319087,Q13422,ENST00000331340,+,7,50319086,50319087,T,C,0.000023,M,T,No-Syn
4,7,50319093,50319094,Q13422,ENST00000331340,+,7,50319093,50319094,A,G,0.000019,Q,Q,Syn
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
311,7,50400593,50400594,Q13422,ENST00000331340,+,7,50400593,50400594,A,C,0.000033,I,I,Syn
312,7,50400599,50400600,Q13422,ENST00000331340,+,7,50400599,50400600,A,C,0.000028,R,R,Syn
313,7,50400608,50400609,Q13422,ENST00000331340,+,7,50400608,50400609,C,T,0.000009,H,H,Syn
314,7,50400612,50400613,Q13422,ENST00000331340,+,7,50400612,50400613,T,C,0.000005,F,L,No-Syn
315,7,50400619,50400620,Q13422,ENST00000331340,+,7,50400619,50400620,T,A,0.000005,M,K,No-Syn

New

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,7,50319070,50319071,ENST00000331340,1,7,50319070,50319071,G,T,0.000005,D,V,No-Syn
1,7,50319075,50319076,ENST00000331340,1,7,50319075,50319076,G,A,0.000037,G,S,No-Syn
2,7,50319085,50319086,ENST00000331340,1,7,50319085,50319086,A,G,0.000019,M,R,No-Syn
3,7,50319086,50319087,ENST00000331340,1,7,50319086,50319087,T,C,0.000023,M,I,No-Syn
4,7,50319093,50319094,ENST00000331340,1,7,50319093,50319094,A,G,0.000019,V,V,Syn
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
311,7,50400593,50400594,ENST00000331340,1,7,50400593,50400594,A,C,0.000033,T,P,No-Syn
312,7,50400599,50400600,ENST00000331340,1,7,50400599,50400600,A,C,0.000028,G,R,No-Syn
313,7,50400608,50400609,ENST00000331340,1,7,50400608,50400609,C,T,0.000009,R,C,No-Syn
314,7,50400612,50400613,ENST00000331340,1,7,50400612,50400613,T,C,0.000005,F,S,No-Syn
315,7,50400619,50400620,ENST00000331340,1,7,50400619,50400620,T,A,0.000005,M,I,No-Syn

In [63]:
display_diff_summary("Q9UGL1")

CDS COORDINATES

Old

    0          1          2       3                4  5
27  1  202729146  202729173  Q9UGL1  ENST00000367264  -
26  1  202729706  202730027  Q9UGL1  ENST00000367264  -
25  1  202730908  202731063  Q9UGL1  ENST00000367264  -
24  1  202731827  202731939  Q9UGL1  ENST00000367264  -
23  1  202733400  202733886  Q9UGL1  ENST00000367264  -
22  1  202735428  202735587  Q9UGL1  ENST00000367264  -
21  1  202736212  202736392  Q9UGL1  ENST00000367264  -
20  1  202740673  202740812  Q9UGL1  ENST00000367264  -
19  1  202741366  202741722  Q9UGL1  ENST00000367264  -
18  1  202742390  202742505  Q9UGL1  ENST00000367264  -
17  1  202742654  202742805  Q9UGL1  ENST00000367264  -
16  1  202745857  202745982  Q9UGL1  ENST00000367264  -
15  1  202746141  202746323  Q9UGL1  ENST00000367264  -
14  1  202748944  202749139  Q9UGL1  ENST00000367264  -
13  1  202750658  202750778  Q9UGL1  ENST00000367264  -
12  1  202752904  202753067  Q9UGL1  ENST00000367264  -
11  1  202755270  202755452  Q9UGL1  ENST00000367264  -
10  1  202756357  202756516  Q9UGL1  ENST00000367264  -
9   1  202758390  202758510  Q9UGL1  ENST00000367264  -
8   1  202760414  202760573  Q9UGL1  ENST00000367264  -
7   1  202762698  202762808  Q9UGL1  ENST00000367264  -
6   1  202764048  202764145  Q9UGL1  ENST00000367264  -
5   1  202766396  202766504  Q9UGL1  ENST00000367264  -
4   1  202766925  202767060  Q9UGL1  ENST00000367264  -
3   1  202773117  202773288  Q9UGL1  ENST00000367264  -
2   1  202774612  202774735  Q9UGL1  ENST00000367264  -
1   1  202777016  202777094  Q9UGL1  ENST00000367264  -
0   1  202808101  202808305  Q9UGL1  ENST00000367264  -

New

    0          1          2                3  4
26  1  202729035  202729173  ENST00000367265 -1
25  1  202729706  202730027  ENST00000367265 -1
24  1  202730908  202731063  ENST00000367265 -1
23  1  202731827  202731939  ENST00000367265 -1
22  1  202733400  202733886  ENST00000367265 -1
21  1  202735428  202735587  ENST00000367265 -1
20  1  202736212  202736392  ENST00000367265 -1
19  1  202740673  202740812  ENST00000367265 -1
18  1  202741366  202741722  ENST00000367265 -1
17  1  202742390  202742505  ENST00000367265 -1
16  1  202742654  202742805  ENST00000367265 -1
15  1  202745857  202745982  ENST00000367265 -1
14  1  202746141  202746323  ENST00000367265 -1
13  1  202748944  202749139  ENST00000367265 -1
12  1  202750658  202750778  ENST00000367265 -1
11  1  202752904  202753067  ENST00000367265 -1
10  1  202755270  202755452  ENST00000367265 -1
9   1  202756357  202756516  ENST00000367265 -1
8   1  202758390  202758510  ENST00000367265 -1
7   1  202760414  202760573  ENST00000367265 -1
6   1  202762698  202762808  ENST00000367265 -1
5   1  202764048  202764145  ENST00000367265 -1
4   1  202766925  202767060  ENST00000367265 -1
3   1  202773117  202773288  ENST00000367265 -1
2   1  202774612  202774735  ENST00000367265 -1
1   1  202777016  202777094  ENST00000367265 -1
0   1  202808101  202808305  ENST00000367265 -1

────────────────────────────────────────────────────────────────────────────────────────────────────
CDS VARIANTS

Old

,0,1,2,3,4,5,6,7,8,9,10,11
0,1,202729147,202729148,Q9UGL1,ENST00000367264,-,1,202729147,202729148,C,T,0.000047
1,1,202729151,202729152,Q9UGL1,ENST00000367264,-,1,202729151,202729152,C,A,0.000042
2,1,202729153,202729154,Q9UGL1,ENST00000367264,-,1,202729153,202729154,TCA,T,0.000033
3,1,202729158,202729159,Q9UGL1,ENST00000367264,-,1,202729158,202729159,C,G,0.000037
4,1,202729166,202729167,Q9UGL1,ENST00000367264,-,1,202729166,202729167,A,C,0.000005
...,...,...,...,...,...,...,...,...,...,...,...,...
884,1,202808273,202808274,Q9UGL1,ENST00000367264,-,1,202808273,202808274,G,T,0.000028
885,1,202808273,202808274,Q9UGL1,ENST00000367264,-,1,202808273,202808274,G,C,0.000019
886,1,202808274,202808275,Q9UGL1,ENST00000367264,-,1,202808274,202808275,G,A,0.000009
887,1,202808280,202808281,Q9UGL1,ENST00000367264,-,1,202808280,202808281,G,C,0.000005
888,1,202808290,202808291,Q9UGL1,ENST00000367264,-,1,202808290,202808291,G,C,0.000009

New

,0,1,2,3,4,5,6,7,8,9,10
0,1,202729042,202729043,ENST00000367265,-1,1,202729042,202729043,C,T,0.000028
1,1,202729045,202729046,ENST00000367265,-1,1,202729045,202729046,C,G,0.000192
2,1,202729052,202729053,ENST00000367265,-1,1,202729052,202729053,C,A,0.000014
3,1,202729052,202729053,ENST00000367265,-1,1,202729052,202729053,C,T,0.000014
4,1,202729053,202729054,ENST00000367265,-1,1,202729053,202729054,G,A,0.000075
...,...,...,...,...,...,...,...,...,...,...,...
907,1,202808273,202808274,ENST00000367265,-1,1,202808273,202808274,G,T,0.000028
908,1,202808273,202808274,ENST00000367265,-1,1,202808273,202808274,G,C,0.000019
909,1,202808274,202808275,ENST00000367265,-1,1,202808274,202808275,G,A,0.000009
910,1,202808280,202808281,ENST00000367265,-1,1,202808280,202808281,G,C,0.000005
911,1,202808290,202808291,ENST00000367265,-1,1,202808290,202808291,G,C,0.000009

────────────────────────────────────────────────────────────────────────────────────────────────────
CDS VARIANTS CLASSIFIED

Old

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,1,202729147,202729148,Q9UGL1,ENST00000367264,-,1,202729147,202729148,C,T,0.000047,S,N,No-Syn
1,1,202729151,202729152,Q9UGL1,ENST00000367264,-,1,202729151,202729152,C,A,0.000042,G,C,No-Syn
2,1,202729158,202729159,Q9UGL1,ENST00000367264,-,1,202729158,202729159,C,G,0.000037,Q,H,No-Syn
3,1,202729166,202729167,Q9UGL1,ENST00000367264,-,1,202729166,202729167,A,C,0.000005,W,G,No-Syn
4,1,202729706,202729707,Q9UGL1,ENST00000367264,-,1,202729706,202729707,C,G,0.000005,E,D,No-Syn
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
805,1,202808273,202808274,Q9UGL1,ENST00000367264,-,1,202808273,202808274,G,T,0.000028,P,Q,No-Syn
806,1,202808273,202808274,Q9UGL1,ENST00000367264,-,1,202808273,202808274,G,C,0.000019,P,R,No-Syn
807,1,202808274,202808275,Q9UGL1,ENST00000367264,-,1,202808274,202808275,G,A,0.000009,P,S,No-Syn
808,1,202808280,202808281,Q9UGL1,ENST00000367264,-,1,202808280,202808281,G,C,0.000005,P,A,No-Syn
809,1,202808290,202808291,Q9UGL1,ENST00000367264,-,1,202808290,202808291,G,C,0.000009,T,T,Syn

New

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,202729042,202729043,ENST00000367265,-1,1,202729042,202729043,C,T,0.000028,R,R,Syn
1,1,202729045,202729046,ENST00000367265,-1,1,202729045,202729046,C,G,0.000192,S,R,No-Syn
2,1,202729052,202729053,ENST00000367265,-1,1,202729052,202729053,C,A,0.000014,D,D,Syn
3,1,202729052,202729053,ENST00000367265,-1,1,202729052,202729053,C,T,0.000014,D,E,No-Syn
4,1,202729053,202729054,ENST00000367265,-1,1,202729053,202729054,G,A,0.000075,D,V,No-Syn
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
825,1,202808273,202808274,ENST00000367265,-1,1,202808273,202808274,G,T,0.000028,P,T,No-Syn
826,1,202808273,202808274,ENST00000367265,-1,1,202808273,202808274,G,C,0.000019,P,A,No-Syn
827,1,202808274,202808275,ENST00000367265,-1,1,202808274,202808275,G,A,0.000009,G,G,Syn
828,1,202808280,202808281,ENST00000367265,-1,1,202808280,202808281,G,C,0.000005,H,Q,No-Syn
829,1,202808290,202808291,ENST00000367265,-1,1,202808290,202808291,G,C,0.000009,T,S,No-Syn